.direnv/
.envrc
.mypy_cache/
__pycache__/
*.pyc
.venv/
.vscode/
.app/processes/chatbot/model/
#python gitignore
*.pyo
*.pyd
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.ipynb_checkpoints/

scratchpad/
*.db

.DS_Store
